.custom-wbjbl-label{
    margin: 0px !important;
    width: 17% !important;
}
#bundle_form_wbjbl{
    width: 60% !important;
}
#woocommerce-coupon-data .panel-wrap, #woocommerce-product-data .panel-wrap, .woocommerce .panel-wrap{
    height: 60vh;
    overflow: auto !important;
}
.vscomp-ele{
    max-width: 800px !important;
}
.repeater-item{
    margin-top: 25px;
    margin-left: 20px;
}
.add-item{
    margin-left: 12px;
    float: right;
    margin-right: 36px;
    margin-top: 50px;
    width: 78%;
    padding: 10px 10px;
}
.remove-item{
    padding: 7px;
}
.repeater-container{
    display: flex;
    flex-direction: column;
    gap:20px;
}
#hidden-value{
    display: none;
}
.bundle-item{
    display: flex;
}
.custom-wbjbl-label{
    text-align: center;
    align-self: center !important;
}

/* modal css for frontend */

.modal{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.4rem;
    width: 90%;
    padding: 1.3rem;
    min-height: 700px;
    position: absolute;
    top: 10%;
    right: 5%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 999;
}
.products-container{
    display: flex;
    gap: 20px;
}
.card-title{
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.card{
    border: 1px solid #ADADAD;
    border-radius: 15px;
    width: 26%;
}
.card-img img{
    border-radius: 15px;
}
.modal-main-container{
    height: 98%;
}
.card-body{
    width: 100%;
    border-top: 1px solid #ADADAD;
    padding: 10px;
}
.product-prices{
    display: flex;
    gap: 20px;
}
.regular{
    text-decoration: line-through;
}
.product-prices p{
    font-size: 1rem;
    font-weight: 700;
    color: #2c2c2c;
    margin-bottom: 0px;
}
.child-modal{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.4rem;
    width: 100%;
    padding: 1.3rem;
    min-height: 700px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 999;
}
.variation-container{
    display: flex;
    gap: 20px;
}
.hidden{
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 99;
}
.modal-header{
    display: flex;
    border-bottom: 2px solid #000;
    justify-content: space-between;
    padding-bottom: 10px;
}
.modal-header h5{
    width: 100%;
    text-align: center;
}
.btn-open{
    padding: 60px;
    border-radius: 15px;
}
.btn-open:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: transparent;
}
.btn{
    outline: none;
    background: transparent;
    border: 1px solid #ADADAD;
    border-radius: 15px;
}
.simple{
    border: none !important;
    color: #000
}
.simple:hover{
    background-color: transparent;
    color:#ADADAD
}
.simple:focus{
    background: transparent;
    color: #000;
}
.selected{
    border: 1px solid #ADADAD;
    border-radius: 15px;
}
.selected h3{
    padding: 5px 10px 5px 10px;
    border-top: 1px solid #ADADAD;
    font-size: 1.2rem;
    margin-top: -6px;
}
.selected .no-img{
    height: 101px !important;
}
.selected img{
    height: 200px !important;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.selected-container button{
    position: absolute;
    z-index: 99;
    border-radius: 50%;
    border: none !important;
    background: transparent;
    color: #000;
}
.selected-container button:hover, .selected-container button:focus{
    background-color: #ddd;
}
.var-modal-header{
    display: flex;
    border-bottom: 2px solid #000;
    justify-content: space-between;
    padding-bottom: 10px;
}
.var-modal-header h5{
    width: 100%;
    text-align: center;
}
.display-price{
    display: flex;
    gap: 10px;
}